@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
html,
body{
    font-size:auto;
    margin:0;
	padding:0;
	height: 100%;
    font-family: 'ABeeZee', sans-serif;
}
body p{
    margin:8px 0 8px 0;
}
.container0{
	min-height:100%;
	position:relative;
}
header a span{
    margin-left: 10px;
    color:ghostwhite;
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
}
.bg-light
{
    background-color: #6fa8dc !important;
} 
.nav-link{
    color:black !important;
    margin-left: 10px;
}
.nav-link:hover,.active{
    transition: all .2s ease-in;
	 color:yellow !important;
	border-style:solid;
	border-width: 0px 0px 5px 0px;
	padding:1px;
}
.container1{
	width:100%;
	padding-bottom:150px;
}

.container{
	height:100%;
	margin:0 auto;
	margin-top:15px;
	border:1px solid;
    box-sizing: border-box;
}
.row{
    margin-top:15px;
}
.containerPack{
	width:100%;
	height:92%;
	padding-top:50px;
	box-sizing:border-box;
	display:flex;
	position:absolute;
}
.col{
	flex:1;
	border:1px solid;
	margin:5px;
	text-align:center;
	position:relative;
}
.col img{
	width:100%;
	height:250px;
}
.containerText {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #93c47d;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.col:hover .containerText {
  bottom: 0;
  height: 100%;
}
.text {
  white-space: nowrap; 
  color: black;
  width:auto;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text:hover{
	color:red;
}

footer{
	position: absolute;/*help the footer stay at bottom on different screen size*/
    width: 100%;
    bottom: 0px;
	background:#ff9900;
	margin-top:15px;
	display:flex;
}
.serviceInfo{
	flex:1;
	font-size:10pt;
	text-align:center;
}
.copyRight{
	flex:1;
	text-align:center;
	margin-top:20px;
}
.icon{
	flex:1;
    text-align: center;
	box-sizing:border-box;
	padding-top:10px;
}
@media screen and (max-width: 1000px) {
	footer{	
		display:block;
		width:100%;
        margin-top: 20px;
	}
	footer p,img{
		font-size:9pt;
	}
	.serviceInfo{
		width:100%;
		display:block;
		text-align:center;
		padding:0;
	}
	.copyRight{
		width:100%;
		display:block;
		margin-top:0;
	}
	.icon{
		width:100%;
		display:block;
		text-align:center;
		padding-top:0;
	}
	.serviceInfo p{
		margin-top:0px;
	}
}